h1 {
  text-align: center;
  color: white;
  margin-top: 30px;
  text-decoration: underline;
}

p {
  color: rgb(0, 174, 255);
  color: rgb(237, 226, 226);
  font-size: 23px;
  text-align: center;
}

.text {
  width: 50vw;
  height: 80vh;
  margin-top: 100px;
  margin-left: 30px;
}

body {
  overflow: hidden;
}
