body {
  background-color: #081b29;
  /* font-family: Poppins, Helvetica, sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  z-index: -1;
  background-image: url(vecteezy_glowing-world-map-in-the-asia-glowing-grid-represents_6660757.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

.info {
  height: 50px;
}

.header h4 {
  color: white;
  font-size: 20px;
  text-align: center;
}

.header h2 {
  color: white;
  font-weight: 600;
  font: 25px;
  text-align: center;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 40%;
  font-size: 20px;
  font-weight: 500;
}

.links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.links a:hover {
  color: #00abf0;
}
