h1 {
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
a:hover {
  color: #00abf0;
}
.card {
  background-color: blue;
  height: 500px;
  width: 20vw;
  text-align: center;
}
.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#memory-image {
  width: 268px;
  height: 209px;
  background-image: url(memoryGame.png);
  background-repeat: no-repeat;
}
#memory-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#weather-image {
  width: 139px;
  height: 209px;
  background-image: url(WetherApp.png);
  background-repeat: no-repeat;
}
#weather-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#database-image {
  width: 268px;
  height: 130px;
  background-image: url(Database.png);
  background-repeat: no-repeat;
}
#database-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card p {
  font-size: 18px;
}

.card h2 {
  color: white;
  text-align: center;
  margin: 0;
}

#website-image {
  width: 268px;
  height: 130px;
  background-image: url(webclone.png);
  background-repeat: no-repeat;
}
#website-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
