body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  color: white;
  text-align: center;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
a:hover {
  color: #00abf0;
}
.card {
  background-color: rgba(0, 0, 105, 0.482);
  height: 300px;
  width: 60vw;
  text-align: center;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card p {
  color: white;
}
.container {
  height: 90%;
  width: 100%;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

.weather {
  margin-left: 570px;
}

.database {
  margin-left: 570px;
}

#memory-image {
  width: 350px;
  height: 273px;
  background-image: url(memoryGame.png);
  background-repeat: no-repeat;
}
#memory-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#weather-image {
  width: 200px;
  height: 280px;
  background-image: url(WetherApp.png);
  background-repeat: no-repeat;
}

#weather-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#database-image {
  width: 398px;
  height: 200px;
  background-image: url(Database.png);
  background-repeat: no-repeat;
  margin: 10px;
}

#database-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card p {
  font-size: 18px;
}

.card h2 {
  color: white;
  text-align: center;
  margin: 0;
}

#website-image {
  width: 489px;
  height: 243px;
  background-image: url(webclone.png);
  background-repeat: no-repeat;
  margin: 10px;
}
#website-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#inventory-image {
  width: 400px;
  height: 200px;
  background-image: url(inventory.png);
  background-repeat: no-repeat;
  margin: 10px;
}
#winventory-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
